/* When the width of the window is less than 786px, hide the sidebar completely */
@media (max-width: 768px) {
    #sidebar,
    #toggle-sidebar {
        display: none;
    }
    #sidebar.active,
    #toggle-sidebar {
        display: none;
    }
}

/* A container that holds both the sidebar and main content */
.content-wrapper {
    display: flex;
    width: 100%;
}

/* Styling for the div that toggles the sidebar to be open/closed. */
#toggle-sidebar,
#content.active > #toggle-sidebar {
    background-color: #252422;
    color: #fffcf2;
    padding-top: 2px;
    padding-right: 3px;
    font-size: 20px;
    border-radius: 0% 100% 100% 0%;
    width: 40px;
    height: 40px;
    text-align: center;
    position: fixed;
    top: 50px;
    left: 0px;
    z-index: 999;
    margin-left: 0;
    margin-top: 5px;
    transition: all 0.5s;
}

/* Override the sidebar toggle styles when the sidebar is open */
#content > #toggle-sidebar {
    background-color: #4b88a2;
    padding-right: 0px;
    border-radius: 100%;
    transition: all 0.5s;
    left: 280px;
    color: #fffcf2;
}

#sidebar {
    background-color: #353431;
    color: #fffcf2;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 900;
    padding: 55px 10px 10px 20px;
    transition: all 0.5s;
}

#sidebar.active {
    margin-left: -300px;
    transition: all 0.5s;
}

#content {
    width: calc(100% - 300px);
    height: 100%;
    transition: all 0.5s;
    position: absolute;
    top: 18px;
    right: 0;
    transition: all 0.5s;
    padding: 30px;
    overflow-x: auto;
}

#content.active {
    width: 100%;
    transition: all 0.5s;
    overflow-x: auto;
}
